<div ng-init="init()">
  <div id="col-1" class="{{getCol_1Class()}}">
    <ul>
      <li ng-repeat="student in col_1">
        <div class="younger-info">
          <div class="younger-avatar">
            <img src="{{student.avatar}}"/>
          </div>
          <div class="younger-detail">
            <div class="name">
              {{student.student_name}}
              <div class="status status-warn">{{student.track_status}}</div>
            </div>
            <div class="phone">{{student.phone}}</div>
            <div class="email">{{student.email}}</div>
            <div class="edu">{{student.education}}</div>
          </div>
        </div>
        <div class="track-history">
          <ul class="time-line">
            <li class="top">
              <div class="time">&nbsp;</div>
              <div class="icon"></div>
              <div class="content">
                <a ng-click="openAddDialog(student.student_id)" class="kuma-button kuma-button-mblue" href="javascript:;">新增今日跟进</a>
              </div>
            </li>
            <li ng-repeat="history in student.track_history" class="item">
              <div class="time">{{history.communicate_date}}</div>
              <div class="icon"></div>
              <div class="content">
                <div class="block">
                  <div class="status">
                    {{history.communicate_result}}<br/>{{history.status}}
                  </div>
                  <div class="call">
                    <a href="#"></a>
                  </div>
                  <div class="text">
                    <p>沟通记录：</p>

                    <p>{{history.communicate_record}}&nbsp;</p>
                      <!--{{history.communicate_-->
                    <p>沟通备注：</p>

                    <p>{{history.comment}}&nbsp;</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="bottom">
              <div class="time"></div>
              <div class="icon"></div>
              <div class="content">
                <a ng-click="showMore(student)" ng-show="!student.hide" href="javascript:;">查看更多</a>
                <a ng-click="hideMore(student)" ng-show="student.hide" href="javascript:;">点击收起</a>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div ng-show="showCol_2()" id="col-2">
    <ul>
      <li ng-repeat="student in col_2">
        <div class="younger-info">
          <div class="younger-avatar">
            <img src="{{student.avatar}}"/>
          </div>
          <div class="younger-detail">
            <div class="name">
              {{student.student_name}}
              <div class="status status-warn">{{student.track_status}}</div>
            </div>
            <div class="phone">{{student.phone}}</div>
            <div class="email">{{student.email}}</div>
            <div class="edu">{{student.education}}</div>
          </div>
        </div>
        <div class="track-history">
          <ul class="time-line">
            <li class="top">
              <div class="time">&nbsp;</div>
              <div class="icon"></div>
              <div class="content">
                <a ng-click="openAddDialog(student.student_id)" class="kuma-button kuma-button-mblue" href="javascript:;">新增今日跟进</a>
              </div>
            </li>
            <li ng-repeat="history in student.track_history" class="item">
              <div class="time">{{history.communicate_date}}</div>
              <div class="icon"></div>
              <div class="content">
                <div class="block">
                  <div class="status">
                    {{history.communicate_result}}<br/>{{history.status}}
                  </div>
                  <div class="call">
                    <a href="#"></a>
                  </div>
                  <div class="text">
                    <p>沟通记录：</p>

                    <p>{{history.communicate_record}}&nbsp;</p>
                    <!--{{history.communicate_-->
                    <p>沟通备注：</p>

                    <p>{{history.comment}}&nbsp;</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="bottom">
              <div class="time"></div>
              <div class="icon"></div>
              <div class="content">
                <a ng-click="showMore(student)" ng-show="!student.hide" href="javascript:;">查看更多</a>
                <a ng-click="hideMore(student)" ng-show="student.hide" href="javascript:;">点击收起</a>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <dialog show-dialog="addTrackDialog.showDialog" title="跟进操作" width="560px">
    <div class="content add-track">
      <div class="kuma-form-item">
        <label class="kuma-label">
          <span class="kuma-form-required">*</span>沟通日期:
        </label>
        <input name="username" class="kuma-input" ui-date ui-date-format="yy/MM/dd" ng-model="addTrackDialog.communicate_date" />
        <!--<div style="display:inline-block; min-height:290px;">-->
          <!--<datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>-->
        <!--</div>-->
        <!--<span class="kuma-form-other">请填写真实姓名</span>-->
      </div>
      <div class="kuma-form-item">
        <label class="kuma-label">
          <span class="kuma-form-required">*</span>沟通方式:
        </label>
        <selector selected-index="addTrackDialog.dropBoxCommType.selectedIndex" items="addTrackDialog.dropBoxCommType.items"></selector>

        <!--<span class="kuma-form-other">请填写真实姓名</span>-->
      </div>
      <div class="kuma-form-item">
        <label class="kuma-label">
          <span class="kuma-form-required">*</span>师弟状态:
        </label>
        <selector selected-index="addTrackDialog.dropBoxStatus.selectedIndex" items="addTrackDialog.dropBoxStatus.items"></selector>

        <!--<span class="kuma-form-other">请填写真实姓名</span>-->
      </div>
      <div class="kuma-form-item">
        <label class="kuma-label">
          <span class="kuma-form-required">*</span>沟通结果:
        </label>

        <selector selected-index="addTrackDialog.dropBoxResult.selectedIndex" items="addTrackDialog.dropBoxResult.items"></selector>
        <!--<input name="username" class="kuma-input" type="text" placeholder="张三">-->
        <!--<span class="kuma-form-other">请填写真实姓名</span>-->
      </div>
      <div class="kuma-form-item">
        <label class="kuma-label">
          <span class="kuma-form-required">*</span>沟通记录:
        </label>
        <textarea name="username" ng-model="addTrackDialog.communicate_record" class="kuma-input" type="text" />
        <!--<span class="kuma-form-other">请填写真实姓名</span>-->
      </div>
    </div>
    <div class="kuma-dialog-confirm">
      <a ng-click="saveTrack()" class="kuma-button kuma-button-sblue" href="">确定</a>
    </div>
    <div class="kuma-dialog-cancel">
      <a ng-click="closeDialog()" class="kuma-button kuma-button-swhite" href="">取消</a>
    </div>
  </dialog>
</div>
