<link rel="stylesheet" href="styles/home.css"/>
<div id="index_bg">
  <div class="functions-block">
    <ul class="functions">
      <li>
        <div id="brother" class="icon">
          <div></div>
        </div>
        <div class="block-label">
          师兄
        </div>
      </li>
      <li>
        <div id="hrg" class="icon">
          <div></div>
        </div>
        <div class="block-label">HRG</div>
      </li>
      <li>
        <div id="campus" class="icon">
          <div></div>
        </div>
        <div class="block-label">校招</div>
      </li>
    </ul>
  </div>
  <div class="login">
    <a id="login" ng-click="gotoConsole()" href="javascript:;">去管理</a>
  </div>
</div>
